.DS_Store

.idea/
.dbg/

.env
*.png
*.jpg
*.jpeg
*.gif

configs/config.yaml
data/
logs/
bin/
dist/
cmd/tron-watcher-desktop/
debug-*.md

desktop/node_modules/
desktop/dist/
desktop/bin/darwin/tron-watcher
desktop/bin/win32/tron-watcher.exe

